.o-app-body {
    background-color: black;
}
.o-circular-logo {
    height: 10vw;
    margin-top: 5vh;
    border-radius: 20px;
}
.o-app-slogan {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10vw;
    width: 80vw;
    margin-top: 5vh;
}
.o-app-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 30vw;
    width: 40vw;
    margin-bottom: 45vh;
}
.o-app-scan {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 42vw;
    width: 16vw;
    margin-bottom: 20vw;
}
